{{#> layouts/base title = "Help Page" }}
<div>
  <h2 class="text-center">
    Help Page, More info would be added later.
    For now you can:
    <p>
      <a class="underline" href="/register">Click here to register</a>
      <a class="underline" href="/signin">Click here to Sign In</a>
    </p>
  </h2>
</div>
<p class="mt-6 text-center leading-9">
  <a class="underline" href="/signout">Sign out →</a>
</p>{{~/layouts/base }}